@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

@font-face {
    font-family: 'irsans';
    font-style: normal;
    font-weight: 700;
    src: url('../font/irsans-b.woff');
}

@font-face {
    font-family: 'irsans';
    font-style: normal;
    font-weight: 500;
    src: url('../font/irsans-m.woff');
}

@font-face {
    font-family: 'irsans';
    font-style: normal;
    src: url('../font/irsans.woff');
}

@font-face {
    font-family: 'irsans';
    font-style: normal;
    font-weight: 300;
    src: url('../font/irsans-l.woff');
}

@font-face {
    font-family: 'irsans';
    font-style: normal;
    font-weight: 200;
    src: url('../font/irsans-u.woff');
}

body {
    margin-bottom: 60px;
    text-align: right;
    font-family: irsans;
}

a, .btn-link {
    color: #0366d6;
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
}

.content {
    padding-top: 2rem;
}

.navbar-brand {
    margin-right: 0rem !important;
    margin-left: 1rem !important;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.dropdown-menu {
    text-align: right;
}

.dropdown-toggle::after {
    margin-left: 0px;
    margin-right: 0.255em;
    vertical-align: unset;
}

.blazored-modal-close {
    margin: -1rem -1rem auto -1rem !important;
}

.blazored-toast-heading {
    display: none;
}

.blazored-toast-header::before {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.7rem;
}

.blazored-toast-success .blazored-toast-header::before {
    content: 'عملیات موفق';
}

.blazored-toast-error .blazored-toast-header::before {
    content: 'خطا';
}

.blazored-toast-info .blazored-toast-header::before {
    content: 'توجه';
}

.blazored-toast-warning .blazored-toast-header::before {
    content: 'هشدار';
}
