@inherits LayoutComponentBase
@using Blazored.Toast
@using Blazored.Toast.Configuration

<NavMenu />
<div class="main">
    <div class="content container-fluid">
        @Body
    </div>
    <BlazoredToasts Timeout="3" Position="ToastPosition.BottomRight" />
</div>