<nav class="navbar navbar-expand-md navbar-toggleable-lg navbar-dark bg-dark border-bottom">
    <div class="container-fluid flex-wrap">
        <a class="navbar-brand" href="">سامانه مدیریت انرژی مخابرات</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-lg-inline-flex">
            <ul class="navbar-nav w-100 flex-wrap">
                <AuthorizeView>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="dashboard">داشبورد</NavLink>
                    </li>

                    <li Class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">مشترکین</a>
                        <div class="dropdown-menu">
                            <NavLink class="dropdown-item" href="subscribers/list">لیست مشترکین</NavLink>
                            <AuthorizeView Context="a" Policy="@nameof(Permission.ChangeSubscribers)">
                                <NavLink class="dropdown-item" href="subscribers/new">مشترک جدید</NavLink>
                            </AuthorizeView>
                        </div>
                    </li>

                    <li Class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">لیست قبوض</a>
                        <div class="dropdown-menu">
                            <NavLink class="dropdown-item" href="bills/elec/list">قبوض برق</NavLink>
                        </div>
                    </li>

                    <AuthorizeView Context="a" Policy="@nameof(Permission.ImportBills)">
                        <li Class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">وارد سازی قبوض</a>
                            <div class="dropdown-menu">
                                <NavLink class="dropdown-item" href="bills/elec/import">قبوض برق</NavLink>
                            </div>
                        </li>
                    </AuthorizeView>

                    <li Class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">گزارشها</a>
                        <div class="dropdown-menu">
                            <NavLink class="dropdown-item" href="reports/total">کلی</NavLink>
                            <NavLink class="dropdown-item" href="reports/subscribers">مشترکین</NavLink>
                            <NavLink class="dropdown-item" href="reports/changes">تغییرات</NavLink>
                        </div>
                    </li>

                    <AuthorizeView Context="a" Policy="@nameof(Permission.ManageUsers)">
                        <li class="nav-item">
                            <NavLink class="nav-link" href="user/manage">مدیریت کاربران</NavLink>
                        </li>
                    </AuthorizeView>
                </AuthorizeView>
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item mr-auto">
                            <NavLink class="nav-link" href="user/settings"><UserDisplayName /></NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="login/out">خروج</NavLink>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item mr-auto">
                            <NavLink class="nav-link" href="login">ورود</NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>