@inject HttpClientX http
@inject IToastService toast

<div>
    <div class="form-group row">
        <label class="col-sm-5">وضعیت کنونی:</label>
        <div class="col-sm-7">
            <b>@DisplayUtils.DisplayName(Bill.PayStatus)</b>
        </div>
    </div>
    @if (Bill.PayStatus == ElecBill.PayStatusEnum.NotPaid)
    {
        <div class="form-group row">
            <label class="col-sm-5">@(DisplayUtils.DisplayName<ElecBill>(b => b.PaymentNumber)):</label>
            <div class="col-sm-7">
                <input type="number" @bind-value="num" class="form-control" required />
            </div>
        </div>
    }
    else if (Bill.PayStatus == ElecBill.PayStatusEnum.Paid)
    {
        <div class="form-group row">
            <label class="col-sm-5">@(DisplayUtils.DisplayName<ElecBill>(b => b.DocumentNumber)):</label>
            <div class="col-sm-7">
                <input type="number" @bind-value="num" class="form-control" required />
            </div>
        </div>
    }
    @if (Bill.PayStatus != ElecBill.PayStatusEnum.Documented)
    {
        <div class="mt-4 text-center">
            <button class="btn btn-primary" @onclick="ChangeStatus">
                تغییر وضعیت به @DisplayUtils.DisplayName(NextStatus())
            </button>
        </div>
    }
</div>

@code {
    [CascadingParameter]
    BlazoredModalInstance modal { get; set; }

    [Parameter]
    public ClientElecBill Bill { get; set; }

    private long num;

    private ElecBill.PayStatusEnum NextStatus()
    {
        switch (Bill.PayStatus)
        {
            case ElecBill.PayStatusEnum.NotPaid:
                return ElecBill.PayStatusEnum.Paid;
            default:
                return ElecBill.PayStatusEnum.Documented;
        }
    }

    private async Task ChangeStatus()
    {
        Bill.PayStatus = NextStatus();
        var res = await http.GetAsync("Bills/ChangePayStatus?id=" + Bill.Id + "&newStatus=" + Bill.PayStatus + "&num=" + num);
        if (!res.IsSuccessStatusCode)
            toast.ShowError("خطا در تغییر وضعیت پرداخت!");

        await modal.CloseAsync(ModalResult.Ok(res.IsSuccessStatusCode));
    }
}
