@page "/subscribers/new"
@page "/subscribers/edit/{id}"
@attribute [Authorize(nameof(Permission.ChangeSubscribers))]


<h3>New Subscriber</h3>

@code {
    [Parameter]
    public string id { get; set; }
}
