@page "/subscribers/list"
@attribute [Authorize]

@inject HttpClientX http
@inject AuthenticationStateProvider _auth

<div class="text-center">
    @if (mainCity != null && cities != null)
    {
        <label>شهرستان:</label>
        <select @onchange="CityChanged">
            <option value="all">همه</option>
            <option value="@mainCity.Id" selected>@mainCity.Name</option>
            <option value="others">سایر شهرستان ها</option>
            @foreach (var city in cities.Where(c => c.Id != mainCity.Id))
            {
                <option value="@city.Id">@city.Name</option>
            }
        </select>
        <button class="btn btn-secondary mr-3" @onclick="DownloadExcelFile">خروجی فایل اکسل</button>
    }
</div>
<div class="mt-4">
    @if (subscribers == null)
    {
        <Loading />
    }
    else
    {
        <div class="table-responsive">
            <ObjectTable Data="subscribers" LinkColumns="linkColumns.ToArray()" />
        </div>
    }
</div>

@code {
    private List<ObjectTable<ClientSubscriber>.LinkColumn> linkColumns = new List<ObjectTable<ClientSubscriber>.LinkColumn>
    {
        new ObjectTable<ClientSubscriber>.LinkColumn 
        { 
            Name = "SubscriberDetails",
            Text = "جزئیات", 
            KeyFieldName = nameof(ClientSubscriber.Id), 
            Link = "/subscribers/details/{Id}" 
        }
    };

    private City mainCity;
    private List<City> cities;
    private List<ClientSubscriber> subscribers;
    private string selectedCity;

    protected override async Task OnInitializedAsync()
    {
        var auth = (AuthStateProvider)_auth;
        var user = await auth.GetUser();
        if (user.HasPermission(Permission.ChangeSubscribers))
        {
            linkColumns.Add(new ObjectTable<ClientSubscriber>.LinkColumn
            {
                Name = "EditSubscriber",
                Text = "ویرایش",
                KeyFieldName = nameof(ClientSubscriber.Id),
                Link = "/subscribers/edit/{Id}"
            });
        }

        mainCity = await http.GetFromJsonAsync<City>("Place/MainCity");
        cities = await http.GetFromJsonAsync<List<City>>("Place/CitiesList");
        selectedCity = mainCity.Id.ToString();
        subscribers = await http.GetFromJsonAsync<List<ClientSubscriber>>("Subscriber/List?city=" + selectedCity);
    }

    private async Task CityChanged(ChangeEventArgs e)
    {
        selectedCity = e.Value.ToString();
        subscribers = null;
        subscribers = await http.GetFromJsonAsync<List<ClientSubscriber>>("Subscriber/List?city=" + selectedCity);
    }

    private async Task DownloadExcelFile()
    {
        await http.DownloadFile("Subscriber/ExcelFile?city=" + selectedCity);
    }
}
